.arrow{
    height:1em;
    padding-left: 1em;
}

.arrow-up{
    cursor: pointer;
    transition: 0.5s;
}

.arrow-down{
    cursor: pointer;
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.5s;
}