.arrow{
    display: none;
    height:1em;
    padding-left: 1em;
}
.visible{
    display: inline-block;
}

.arrow-up{
    transition: 0.5s;
}

.arrow-down{
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.5s;
}