.missions-table{
    display: flex;
    width: 100vw;
    justify-content: end;
    padding-right: 2vw;

}
.missions{
    display: flex;
    width: 76.5%;
    flex-direction: column;
    font-weight: 500;

}

.mission-header{
    display: grid;
    grid-template-columns:  3.6fr 2.6fr 1.5fr 1.3fr 0.525fr;
    gap: 1.2em;
    margin-top: 0.9em;   
}
.mission{
    display: grid;
    grid-template-columns: 3.6fr 2.6fr 1.5fr 1.3fr 0.525fr;
    gap: 1.2em;
    margin-top: 0.5em;    
    align-items: center;
    color: var(--moon-dust);
}

.mission-header-cell{
    width: 100%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1em;
    border-radius: 1em;
    margin: 0.2em;
}

.cell{
    background-color: var(--starlight);
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    border-radius: 1em;
    margin: 0.1em;
    align-self: stretch;
    justify-items: stretch;
}
.center{
    text-align: center;
}

.load-more{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    height: 1em;
    padding-left: 1em;
    margin-top: 1em;
}
.page{
    font-weight: bold;
}
.mission:hover  .cell{
    background-color: var(--martian-soil);
    color: var(--white-dwarf);
}


.thin_ruler{
    width: 95%;
    display: grid;
    grid-template-columns:  3.5fr 2.5fr 1.5fr 1.5fr 0.525fr;
    background-color: var(--void);
    height: 0.1em;
    align-content: center;

}
.fat_ruler{
    height: 0.5em;
    background-color: var(--void);
    border-radius: 1em;
}


.next-icon{
    height:2em;
    justify-self: center;
    display: none;
}
.mission:hover .next-icon{
    display: grid;
}

