.missions-table{
    display: flex;
    width: 100vw;
    justify-content: end;
    padding-right: 2vw;

}
.missions{
    display: flex;
    width: 76.5%;
    flex-direction: column;
}

.mission-header{
    display: grid;
    grid-template-columns:  3.6fr 2.6fr 1.5fr 1.5fr 0.525fr;
    gap: 1.2em;
    margin-top: 0.9em;   
}

.thin_ruler{
    width: 95%;
    display: grid;
    grid-template-columns:  3.9fr 6.1fr;
    background-color: var(--void);
    height: 0.05em;
    align-content: center;
    margin-top: -0.5em;

}
.fat_ruler{
    height: 0.4em;
    background-color: var(--void);
    border-radius: 1em;
}
.mission{
    display: grid;
    grid-template-columns: 3.6fr 2.6fr 1.5fr 1.3fr 0.525fr;
    gap: 1.2em;
    margin-top: 0.5em;    
    align-items: center;
    color: var(--moon-dust);
}

.mission-header-cell{
    width: 100%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1em;
    border-radius: 1em;
    margin: 0.2em;
}
.column-title{
    cursor: pointer;
}

.cell{
    background-color: var(--starlight);
    width: 100%;
    padding-top: 1.6em;
    padding-bottom: 1.6em;
    padding-left: 1em;
    border-radius: 1em;
    margin: 0.1em;
    align-self: stretch;
    justify-items: stretch;
}
.center{
    text-align: center;
}

.load-more{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    height: 1em;
    padding-left: 1em;
    margin-top: 1em;
}
.page{
    font-weight: bold;
}
.mission:hover  .cell{
    background-color: var(--martian-soil);
    color: var(--white-dwarf);
    transition: 0.2s;
}


.next-icon{
    height:2em;
    justify-self: center;
    display: none;
}
.mission:hover .next-icon{
    display: grid;
}


@media (max-width: 600px) {

    .missions-table{
        justify-content: flex-start;
        margin-left: 1em;
        margin-top: 2em;
        width: 100%;
        transform: scale(0.8);
    }
    .missions{
        width: 100%;
    }
    .mission-header{
        transform: scale(0.8);
        grid-template-columns: 3.6fr 2.6fr 1.5fr 1.3fr;
    }
  }

  @media (max-width: 400px) {
    .missions-table{
        margin-left: 1em;
        margin-top: 2em;
        width: 100%;
        transform: scaleX(0.8);
    }

    
  }

  @media (min-width: 1024px) {
    .missions-table{
        font-size: large;     
    }
    
  }

  @media (min-width: 2000px) {
    .missions-table{
        font-size: x-large;
    }
    
  }
  @media (min-width: 3000px) {
    .missions-table{
        font-size: xx-large;  
    }
  }

