:root {
    box-sizing: border-box;
    --martian-soil: #d14b39;
    --void: #193247;
    --distant-star: #f4ddb5;
    --white-dwarf: #fff;
    --starlight: #fdf2dd;
    --moon-dust: #606060;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--distant-star);
    font-family: sans-serif;
    color:var(--void)
  }

  .btn-primary{
    display: block;
    background-color: var(--martian-soil);
    color: var(--white-dwarf);
    text-align: center;
    border-radius: 2em;
    border-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }