.ticket-wrapper{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/vector/ticketPageBackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-weight: 300;
}
.wrapper-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
}
.wrapper-3{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    align-content: flex-start;

}
.back{
    padding-top: 2em;
    cursor: pointer;
}
.ticket{
    width: 60em;
    height: 25em;
    background-image: url('../../assets/vector/ticketBackground.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
    color: var(--distant-star);
}

.mission_details{
    display: flex;
    flex-direction: column;
}
.year_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
    line-height: 0.1em;
    color:var(--void);    
    padding-top: 4em;
    padding-right: 8.2em;

}

.mission_name{
    margin-top: -2em;
    padding-left: 8.5em;
    line-height: 0.5em;
}

.rocket_details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 8.5em;
    gap: 3em;
    line-height: 0.3em;
}


.print{
    z-index: 10;
    display: flex;
    width: 55em;
    justify-content: flex-end;
}

.name, .year, .r_name, .r_type{
    font-weight: 300;
}

@media (max-width: 1050px) {
    .ticket{ 
        transform: rotate(90deg); 
        margin-top: 16em;
    }

    .wrapper-3{
        flex-direction: column;
        align-items: center;
    }
    .print{
        justify-content: center;
        margin-top: 14em;
    }
    
  }

  @media (min-width: 1900px){
    .wrapper-3{
        transform: scale(1.5);
        margin-top: 5em;
    }
    .print{
        transform: scale(1.5);
        margin-top: 6em;
    }
  }

  @media (min-width: 2500px){
    .wrapper-3{
        transform: scale(2);
        margin-top: 10em;
    }
    .print{
        transform: scale(2);
        margin-top: 12em;
    }
  }

  @media (min-width: 3800px){
    .wrapper-3{
        transform: scale(3);
        margin-top: 20em;
    }
    .print{
        transform: scale(3);
        margin-top: 24em;
    }
  }
